* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 8rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(24, 24, 93);
    border-radius: 5rem;
}

body {

    background: #9ca2a5;
    background: -webkit-linear-gradient(to left, #ffffff, #9ca2a5);
    background: linear-gradient(to left, #ffffff, #9ca2a5);
    background-repeat: no-repeat;
}

section {
    padding: 2rem 7%;
    min-height: 90vh;
}

header {
    padding: 1rem 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #9ca2a5;
    background: -webkit-linear-gradient(to left, #ffffff, #9ca2a5);
    background: linear-gradient(to left, #ffffff, #9ca2a5);
    box-shadow: -0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.3),
        0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2), 1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
}

nav {
    width: 65%;
    margin-left: 10rem;
    display: flex;
}

nav a {
    color: rgb(53, 53, 117);
    margin-left: 5rem;
    font-size: 2rem;
    font-weight: 500;
}

nav a:hover {
    border-bottom: 0.3rem solid rgb(53, 53, 117);
    filter: drop-shadow(-0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.1)) drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4)) drop-shadow(1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.4))
}

.flag {
    width: 4rem;
    height: 3.7rem;
}

.toggle-language {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    gap: 0.3rem;
}

.toggle-input {
    width: 8rem;
    height: 3rem;
    border-radius: 1.5rem;
    appearance: none;
    background-color: #ffffff;
    box-shadow: inset 0px 0px 0.6rem 0.1rem rgb(132, 131, 131);
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    font-size: 0.8rem;
}

.toggle-input:checked {
    background-color: #f9f9f9;
}

.toggle-input:before {
    content: "Port.";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: #f9f9f9;
    background-color: rgb(53, 53, 117);
    box-shadow: 0px 0.4rem 0.8rem 0.1rem rgb(99, 99, 99);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
    transition: 0.4s;
}

.toggle-input:checked:before {
    left: 5rem;
    content: "Eng.";
    text-align: center;
}

.eng {
    display: none;
}

.sidebar {
    position: fixed;
    top: 8.2rem;
    left: 0;
    height: 55vh;
    border-bottom-right-radius: 30px;
    width: 30rem;
    z-index: 100;
    background-color: rgba(185, 185, 185, 0.7);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    font-weight: bold;
    padding-top: 4rem;
    display: none;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

.sidebar nav a,
.sidebar nav ion-icon {
    font-size: 2.5rem;
    color: rgb(50, 50, 101);
    margin-top: 2rem;
}

.sidebar nav ion-icon:hover,
header .menu-button:hover {
    filter: drop-shadow(-0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.1)) drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4)) drop-shadow(1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.4))
}

.menu-button {
    font-size: 4rem;
    color: rgb(53, 53, 117);
    display: none;
    margin-right: 5rem;
}

.heading {
    font-size: 5rem;
    background-image: linear-gradient(to right, rgb(245, 245, 86), turquoise, rgb(63, 150, 242), rgb(70, 70, 130), rgb(1, 1, 53));
    background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: gradient 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.1)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.4))
}

@keyframes gradient {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 100%;
    }
}

/* Home */
.home {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 6rem;


}

.home .home-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: 100%;
}

.home .home-container .presentation-phrase {
    margin-left: 3rem;
    line-height: 8rem;
    font-size: 4.5rem;
    font-weight: 500;
    color: rgb(53, 53, 117);
    width: 60%;
}

.home .home-container .presentation-phrase span {
    background-image: linear-gradient(to right, rgb(245, 245, 86), turquoise, rgb(63, 150, 242), rgb(70, 70, 130), rgb(1, 1, 53));
    background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: gradient 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.1)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.4))
}

@keyframes gradient {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.myName {
    font-size: 4.7rem;
}

.home .home-container .photo {

    display: flex;
    justify-content: center;

}

.home .home-container .photo .portrait {
    width: 37rem;
    height: 45rem;
    border: 4rem solid;
    outline: 0.5rem solid #ffffff4f;
    outline-offset: -2.6rem;
    outline-style: inset;
    border-image: linear-gradient(45deg, rgb(245, 245, 86), turquoise, rgb(63, 150, 242), rgb(70, 70, 130), rgb(1, 1, 53));
    border-image-slice: 4;
    box-shadow: 0px 0.4rem 0.8rem 0.1rem rgb(99, 99, 99);
}

.home .home-container .photo .portrait .myPhoto {
    width: 29rem;
    height: 37rem;

}

/* About */
.about {
    position: relative;

}

.about .container {
    min-height: 71vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.about .container .description {
    flex: 1 1 45rem;
    font-size: 1.8rem;
    color: rgb(53, 53, 117);
    margin-left: 6rem;
    line-height: 3rem;
    font-weight: 500;
}

.about .container .description button {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(53, 53, 117);
    outline: none;
    letter-spacing: 0.2rem;
    align-self: center;
    cursor: pointer;
    align-self: center;
    margin-top: 3rem;
    font-weight: 700;
}

.about .container .description button ion-icon {
    color: rgb(53, 53, 117);
    font-size: 2rem;

}

.about .container .description button a {
    color: rgb(53, 53, 117);
}

.about .container .description button a:hover {
    color: rgb(53, 53, 117);
    transform: scale(1.1);
    border-bottom: 3px solid rgb(53, 53, 117);
    filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.1)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.4))
}

.about .container .code {
    flex: 1 1 25rem;
}

.about .container .code .about-code {
    opacity: 0.3;
    transform: skew(-20deg, -10deg);
    top: 1rem;
    right: 0.5rem;
    width: 45rem;
    height: 43rem;
}

/*Knowledge */
.knowledge {
    position: relative;
}

.knowledge .outer {
    position: absolute;
    margin: 3rem 0 0 2rem;
    min-height: 71vh;
    width: 123rem;
}

.knowledge .outer .box-1 img {
    width: 40rem;
    height: 29rem;
    position: absolute;
    top: 23rem;
    left: 2rem;
    display: block;
}

.knowledge .outer .box-2 img {
    width: 40rem;
    height: 29rem;
    position: absolute;
    top: 23rem;
    left: 2rem;
    display: none;
}

.knowledge .outer #btn-box {
    position: absolute;
    transform: rotate(-6deg);
    left: 23rem;
    bottom: 9rem;
    background-color: transparent;
    font-size: 1.5rem;
    color: #becdcd;
    border: none;
    height: 9rem;
}

.knowledge .outer #btn-box {
    cursor: url(../images/smallkey-bg.png), auto;
}

.knowledge .outer .ball {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(53, 53, 117);
    animation-delay: 1s;
    visibility: hidden;
}

.knowledge .outer .ball img {
    width: 5rem;
    height: 5rem;
}

.knowledge .outer #ball-1 {
    top: 66%;
    left: 14rem;
}

.knowledge .outer .ball-1 {
    visibility: visible;
    animation: jump-1 6s linear forwards;
}

.knowledge .outer #ball-2 {
    top: 65%;
    left: 18rem;
}

.knowledge .outer .ball-2 {
    visibility: visible;
    animation: jump-2 6s linear forwards;
}

.knowledge .outer #ball-3 {
    top: 65%;
    left: 21rem;
}

.knowledge .outer .ball-3 {
    visibility: visible;
    animation: jump-3 6s linear forwards;
}

.knowledge .outer #ball-4 {
    top: 64%;
    left: 23rem;
}

.knowledge .outer .ball-4 {
    visibility: visible;
    animation: jump-4 6s linear forwards;
}

.knowledge .outer #ball-5 {
    top: 66%;
    left: 15rem;
}

.knowledge .outer .ball-5 {
    visibility: visible;
    animation: jump-5 6s linear forwards;
}

.knowledge .outer #ball-6 {
    top: 65%;
    left: 17rem;
}

.knowledge .outer .ball-6 {
    visibility: visible;
    animation: jump-6 6s linear forwards;
}

.knowledge .outer #ball-7 {
    top: 65%;
    left: 19rem;
}

.knowledge .outer .ball-7 {
    visibility: visible;
    animation: jump-7 6s linear forwards;
}

.knowledge .outer #ball-8 {
    top: 66%;
    left: 22rem;
}

.knowledge .outer .ball-8 {
    visibility: visible;
    animation: jump-8 6s linear forwards;
}

.knowledge .outer .title {
    display: none;
    position: absolute;
    color: rgb(53, 53, 117);
    font-size: 1.5rem;
    font-weight: 500;
}

.knowledge .outer #title-1 {
    right: 7rem;
    bottom: 12rem;
}

.knowledge .outer #title-2 {
    right: 11rem;
    bottom: 2rem;
}

.knowledge .outer #title-3 {
    right: 21rem;
    bottom: 16rem;
}

.knowledge .outer #title-4 {
    right: 34rem;
    bottom: 22rem;
}

.knowledge .outer #title-5 {
    right: 35rem;
    bottom: 6rem;
}

.knowledge .outer #title-6 {
    right: 43rem;
    bottom: 15rem;
}

.knowledge .outer #title-7 {
    right: 53rem;
    bottom: 3rem;
}

.knowledge .outer #title-8 {
    right: 58.5rem;
    bottom: 12.5rem;
}

.knowledge .outer #ball-1.finished+#title-1,
.knowledge .outer #ball-2.finished+#title-2,
.knowledge .outer #ball-3.finished+#title-3,
.knowledge .outer #ball-4.finished+#title-4,
.knowledge .outer #ball-5.finished+#title-5,
.knowledge .outer #ball-6.finished+#title-6,
.knowledge .outer #ball-7.finished+#title-7,
.knowledge .outer #ball-8.finished+#title-8 {
    display: block;
}

@keyframes jump-1 {
    20% {
        transform: scale(1) rotate(72deg);
        top: 7rem;
    }

    40% {
        transform: scaleY(0.7) rotate(144deg);
        top: 33rem;
    }

    60% {
        transform: scale(1) rotate(216deg);
        top: 10rem;
    }

    80% {
        transform: scaleY(0.7) rotate(288deg);
        top: 33rem;
    }

    100% {
        transform: scale(1) rotate(360deg);
        top: 30rem;
        left: 90%;
    }
}

@keyframes jump-2 {
    20% {
        transform: scale(1) rotate(72deg);
        top: 9rem;
    }

    40% {
        transform: scaleY(0.7) rotate(144deg);
        top: 33rem;
    }

    60% {
        transform: scale(1) rotate(216deg);
        top: 15rem;
    }

    80% {
        transform: scaleY(0.7) rotate(288deg);
        top: 33rem;
    }

    100% {
        transform: scale(1) rotate(36deg);
        top: 40rem;
        left: 85%;
    }
}

@keyframes jump-3 {
    20% {
        transform: scale(1) rotate(72deg);
        top: 5rem;
    }

    40% {
        transform: scaleY(0.7) rotate(144deg);
        top: 33rem;
    }

    60% {
        transform: scale(1) rotate(216deg);
        top: 13rem;
    }

    80% {
        transform: scaleY(0.7) rotate(288deg);
        top: 33rem;
    }

    100% {
        transform: scale(1) rotate(360deg);
        top: 25rem;
        left: 78%;
    }
}

@keyframes jump-4 {
    20% {
        transform: scale(1) rotate(72deg);
        top: 8rem;
    }

    40% {
        transform: scaleY(0.7) rotate(144deg);
        top: 33rem;
    }

    60% {
        transform: scale(1) rotate(216deg);
        top: 17rem;
    }

    80% {
        transform: scaleY(0.7) rotate(288deg);
        top: 33rem;
    }

    100% {
        transform: scale(1) rotate(360deg);
        top: 19rem;
        left: 68%;
    }
}

@keyframes jump-5 {
    20% {
        transform: scale(1) rotate(72deg);
        top: 10rem;
    }

    40% {
        transform: scaleY(0.7) rotate(144deg);
        top: 33rem;
    }

    60% {
        transform: scale(1) rotate(216deg);
        top: 17rem;
    }

    80% {
        transform: scaleY(0.7) rotate(288deg);
        top: 33rem;
    }

    100% {
        transform: scale(1) rotate(360deg);
        top: 36rem;
        left: 67%;
    }
}

@keyframes jump-6 {
    25% {
        transform: scale(1) rotate(120deg);
        top: 7rem;
    }

    50% {
        transform: scale(0.7) rotate(240deg);
        top: 33rem;
    }

    100% {
        transform: scale(1) rotate(360deg);
        top: 26rem;
        left: 59%;
    }
}

@keyframes jump-7 {
    25% {
        transform: scale(1) rotate(90deg);
        top: 7rem;
    }

    50% {
        transform: scaleY(0.7) rotate(180deg);
        top: 33rem;
    }

    75% {
        transform: scale(1) rotate(270deg);
        top: 10rem;
    }

    100% {
        transform: scale(1) rotate(360deg);
        top: 39rem;
        left: 53%;
    }
}

@keyframes jump-8 {
    30% {
        transform: scale(1) rotate(120deg);
        top: 9rem;
    }

    60% {
        transform: scale(0.7) rotate(240deg);
        top: 33rem;
    }

    100% {
        transform: scale(1) rotate(360deg);
        top: 30rem;
        left: 48%;
    }
}

/* Projects */
:root {
    --item1-transform: translateX(-100%) translateY(-5%) scale(1.5);
    --item1-filter: blur(30px);
    --item1-zIndex: 11;
    --item1-opacity: 0;

    --item2-transform: translateX(0px);
    --item2-filter: blur(0px);
    --item2-zIndex: 10;
    --item2-opacity: 1;

    --item3-transform: translate(50%, 10%) scale(0.8);
    --item3-filter: blur(10px);
    --item3-zIndex: 9;
    --item3-opacity: 1;

    --item4-transform: translate(90%, 20%) scale(0.5);
    --item4-filter: blur(30px);
    --item4-zIndex: 8;
    --item4-opacity: 1;

    --item5-transform: translate(120%, 30%) scale(0.3);
    --item5-filter: blur(40px);
    --item5-zIndex: 7;
    --item5-opacity: 0;
}


.projects {
    position: relative;

}

.projects .carousel {
    min-height: 71vh;
    width: 127rem;
    position: relative;
}

.projects .carousel .list {
    position: relative;
    width: 127rem;
    min-height: 71vh;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;

}

.projects .carousel .list .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    font-size: 1.5rem;
    transition: left 0.5s, opacity 0.5s, width 0.5s;
}

.projects .carousel .list .item:nth-child(n + 6) {
    opacity: 0;
}

.projects .carousel .list .item:nth-child(2) {
    z-index: 10;
    transform: translateX(0);
}

.projects .carousel .list .item img {
    width: 50%;
    height: 45%;
    border-radius: 7px;
    position: absolute;
    left: 42%;
    top: 50%;
    transform: translateY(-50%);
    transition: right 1.5s;
    box-shadow: -0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.3),
        0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2), 1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.projects .carousel .list .introduce {
    position: absolute;
    margin-left: 3rem;
    top: 50%;
    transform: translateX(-50%);
    width: 40rem;
    opacity: 0;
    pointer-events: none;
}

.projects .carousel .list .item:nth-child(2) .introduce {
    opacity: 1;
    pointer-events: auto;
    width: 40rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.5s;
}

.projects .carousel .list .item:nth-child(n + 6) {
    opacity: 0;
    pointer-events: none;
}

.projects .carousel .list .item:nth-child(2) {
    transform: translate(0, 0);
    filter: blur(0);
    z-index: 10;
    opacity: 1;
}

.projects .carousel .list .item .introduce .title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1rem;
    color: rgb(53, 53, 117);
}

.projects .carousel .list .item .introduce .topic {
    font-size: 3rem;
    font-weight: 500;
    color: rgb(53, 53, 117);
}

.projects .carousel .list .item .introduce .des {
    font-size: small;
    color: rgb(53, 53, 117);
    width: 70%;
}

.projects .carousel .list .item .introduce .seeMore {
    padding: 0.5rem 0;
    border: none;
    color: rgb(50, 50, 101);
    border-bottom: 1px solid rgb(50, 50, 101);
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.3rem;
    transition: background 0.5s;
    cursor: pointer;
}

.projects .carousel .list .item .introduce .seeMore:hover {
    border-bottom: 2px solid rgb(50, 50, 101);
    filter: drop-shadow(-0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.1)),
        drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4)),
        drop-shadow(1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.4));
}

.projects .carousel .list .item:nth-child(1) {
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-zIndex);
    opacity: var(--item1-opacity);
    pointer-events: none;
}


.projects .carousel .list .item:nth-child(3) {
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-zIndex);
    opacity: var(--item3-opacity);
}

.projects .carousel .list .item:nth-child(4) {
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-zIndex);
    opacity: var(--item4-opacity);
}

.projects .carousel .list .item:nth-child(5) {
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    z-index: var(--item5-zIndex);
    opacity: var(--item5-opacity);
    pointer-events: none;
}

.projects .carousel .list .item:nth-child(2) .introduce .topic,
.projects .carousel .list .item:nth-child(2) .introduce .title,
.projects .carousel .list .item:nth-child(2) .introduce .des,
.projects .carousel .list .item:nth-child(2) .introduce .seeMore {
    opacity: 0;
    animation: showContent 1.5s 1s ease-in-out 1 forwards;
}

@keyframes showContent {
    from {
        transform: translateY(5rem);
        filter: blur(30px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}

.projects .carousel .list .item:nth-child(2) .introduce .topic {
    animation-delay: 0.9s;
}

.projects .carousel .list .item:nth-child(2) .introduce .des {
    animation-delay: 1.1s;
}

.projects .carousel .list .item:nth-child(2) .introduce .seeMore {
    animation-delay: 1.3s;
}

.projects .carousel.next .item:nth-child(1) {
    animation: transformFromPosition2 1.2s ease-in-out 1 forwards;
}

@keyframes transformFromPosition2 {
    from {
        transform: var(--item2-transform);
        filter: var(--item2-filter);
        opacity: var(--item2-opacity);
        z-index: var(--item2-zIndex);
    }
}

.projects .carousel.next .item:nth-child(2) {
    animation: transformFromPosition3 1.4s ease-in-out 1 forwards;
}

@keyframes transformFromPosition3 {
    from {
        transform: var(--item3-transform);
        filter: var(--item3-filter);
        opacity: var(--item3-opacity);
        z-index: var(--item3-zIndex);
    }
}

.projects .carousel.next .item:nth-child(3) {
    animation: transformFromPosition4 1.6s ease-in-out 1 forwards;
}

@keyframes transformFromPosition4 {
    from {
        transform: var(--item4-transform);
        filter: var(--item4-filter);
        opacity: var(--item4-opacity);
        z-index: var(--item4-zIndex);
    }
}

.projects .carousel.next .item:nth-child(4) {
    animation: transformFromPosition5 1.8s ease-in-out 1 forwards;
}

@keyframes transformFromPosition5 {
    from {
        transform: var(--item5-transform);
        filter: var(--item5-filter);
        opacity: var(--item5-opacity);
        z-index: var(--item5-zIndex);
    }
}

.projects .carousel.prev .list .item:nth-child(5) {
    animation: transformFromPosition4 1.6s ease-in-out 1 forwards;
}

.projects .carousel.prev .list .item:nth-child(4) {
    animation: transformFromPosition3 1.4s ease-in-out 1 forwards;
}

.projects .carousel.prev .list .item:nth-child(3) {
    animation: transformFromPosition2 1.2s ease-in-out 1 forwards;
}

.projects .carousel.prev .list .item:nth-child(2) {
    animation: transformFromPosition1 0.9s ease-in-out 1 forwards;
}

@keyframes transformFromPosition1 {
    from {
        transform: var(--item1-transform);
        filter: var(--item1-filter);
        opacity: var(--item1-opacity);
    }
}

.projects .carousel .list .item .detail {
    opacity: 0;
    pointer-events: none;
}

.projects .carousel .list .item {
    transition: left 0.5s, opacity 0.5s;
}

.projects .carousel.showDetail .list .item:nth-child(3),
.projects .carousel.showDetail .list .item:nth-child(4) {
    left: 100%;
    opacity: 0;
    pointer-events: none;
}

.projects .carousel.showDetail .list .item:nth-child(2) {
    width: 100%;
}

.projects .carousel.showDetail .list .item:nth-child(2) .introduce {
    opacity: 0;
    pointer-events: none;

}


.projects .carousel .list .item:nth-child(2) {
    transition: right 0.5s;
}

.projects .carousel.showDetail .list .item:nth-child(2) img {
    right: 50%;
    height: 34rem;
    transform: translateX(-80%) translateY(-50%);
    position: absolute;
}

.projects .carousel.showDetail .list .item:nth-child(2) .img1 {
    left: 18%;
    top: 29%;
    width: 23rem;
    height: 21rem;
}

.projects .carousel.showDetail .list .item:nth-child(2) .img2 {
    left: 40%;
    top: 29%;
    width: 23rem;
    height: 21rem;
}

.projects .carousel.showDetail .list .item:nth-child(2) .img3 {
    left: 18%;
    top: 72%;
    width: 23rem;
    height: 21rem;
}

.projects .carousel.showDetail .list .item:nth-child(2) .img4 {
    left: 40%;
    top: 72%;
    width: 23rem;
    height: 21rem;
}

.projects .carousel.showDetail .list .item:nth-child(2) img {
    right: 50%;
    transition: 0.5s;
}

.projects .carousel.showDetail .list .item:nth-child(2) .detail {
    opacity: 1;
    width: 45%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: justify;
    pointer-events: auto;
    padding-left: 2rem;
}

.projects .carousel.showDetail .list .item:nth-child(2) .detail .title {
    font-size: 3rem;
    color: rgb(53, 53, 117);

}

.projects .carousel.showDetail .list .item:nth-child(2) .detail .des {
    color: rgb(53, 53, 117);
}

.projects .carousel.showDetail .list .item:nth-child(2) .detail .specifications {
    display: flex;
    gap: 1rem;
    width: 100%;
    border-top: 1px solid rgb(53, 53, 117);
    margin-top: 2rem;
    text-align: center;
}

.projects .carousel.showDetail .list .item:nth-child(2) .detail .specifications div {
    color: rgb(53, 53, 117);
    letter-spacing: 0.3rem;
    font-size: large;
    font-weight: bolder;
    width: 9rem;
    text-align: center;
    flex-shrink: 0;
    margin-top: 0.3rem;

}

.projects .carousel.showDetail .list .item:nth-child(2) .detail .specifications div .ion {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateY(-50%);
    box-shadow: -0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.3),
        0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2), 1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
    font-size: 4.5rem;
    color: rgb(53, 53, 117);
}

.projects .carousel.showDetail .list .item:nth-child(2) .detail .specifications div .ion:hover {
    box-shadow: -0.3rem -0.3rem 0.5rem rgba(237, 236, 236, 0.5),
        -1rem -1rem 2rem rgba(255, 255, 255, 0.3), 1.5rem 1.5rem 2rem rgba(0, 0, 0, 0.4);

}

.projects .carousel.showDetail .list .item:nth-child(2) .detail .title,
.projects .carousel.showDetail .list .item:nth-child(2) .detail .des,
.projects .carousel.showDetail .list .item:nth-child(2) .detail .specifications {
    opacity: 0;
    animation: showContent 1s 1s ease-in-out 1 forwards;
}

.projects .carousel.showDetail .list .item:nth-child(2) .detail .des {
    animation-delay: 0.9s;
}

.projects .carousel.showDetail .list .item:nth-child(2) .detail .specifications {
    animation-delay: 1.2s;
}

.projects .carousel .arrows {
    position: absolute;
    bottom: 1rem;
    width: 114rem;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.projects .carousel .arrows #prev,
.projects .carousel .arrows #next {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-family: monospace;
    border: none;
    color: rgb(50, 50, 101);
    background-color: rgba(50, 50, 101, 0.3);
    font-size: large;
    bottom: 5%;
    left: 10%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.projects .carousel .arrows #next {
    left: unset;
    right: 10%;
}

.projects .carousel .arrows .back {
    position: absolute;
    z-index: 100;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-bottom: 1px solid rgb(50, 50, 101);
    color: rgb(50, 50, 101);
    font-weight: bold;
    letter-spacing: 0.3rem;
    background-color: transparent;
    padding: 1rem;
    cursor: pointer;
    transition: opacity 0.5s;
}

.projects .carousel .arrows .back:hover {
    border-bottom: 2px solid rgb(50, 50, 101);
    filter: drop-shadow(-0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.1)),
        drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4)),
        drop-shadow(1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.4));
}

.projects .carousel.showDetai .back {
    opacity: 1;
    pointer-events: auto;
}

.projects .carousel.showDetail #prev,
.projects .carousel.showDetail #next {
    opacity: 0;
    pointer-events: none;
}

.projects .carousel.showDetail::before {
    transform: translate(-100%, -50%) rotate(90deg);
    filter: blur(13rem);
}

/*Contacts */
.contacts {
    position: relative;
    width: 100vw;
}

.contacts .container {
    min-height: 71vh;
    width: 127rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.contacts .container .phraseSpace {
    flex: 1 1 50%;
}

.contacts .container .phraseSpace .phrase {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(53, 53, 117);
    margin-left: 2rem;
}

.contacts .container .phraseSpace .links {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-left: 2rem;

}

.contacts .container .phraseSpace .links .ion {
    box-shadow: -0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.3),
        0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2), 1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    font-size: 4.5rem;
    color: rgb(53, 53, 117);

}

.contacts .container .phraseSpace .links .ion:hover {
    box-shadow: -0.3rem -0.3rem 0.5rem rgba(237, 236, 236, 0.5),
        -1rem -1rem 2rem rgba(255, 255, 255, 0.3), 1.5rem 1.5rem 2rem rgba(0, 0, 0, 0.4);
}


.contacts .container .formSpace {
    flex: 1 1 50%;
}

.contacts .container .formSpace form {
    width: 90%;
    height: 90%;
    border: 3px solid rgb(53, 53, 117);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    transform: translateX(4rem);
}

.contacts .container .formSpace form .ion {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
    font-size: 7rem;
    color: rgb(53, 53, 117);
}

.contacts .container .formSpace form .write-msg {
    margin-top: 6rem;
}

.contacts .container .formSpace form .write-msg label {
    color: rgb(53, 53, 117);
    font-size: 1.5rem;
    padding-left: 1rem;
}

.contacts .container .formSpace form .write-msg input,
.contacts .container .formSpace form .write-msg textarea {
    background-color: transparent;
    border: 1px solid rgb(53, 53, 117);
    border-radius: 7px;
    color: gray;
    font-size: 1.5rem;
    width: 100%;
    resize: none;
    padding-left: 0.5rem;
}

.contacts .container .formSpace form .write-msg input {
    height: 4rem;
}

.contacts .container .formSpace form .write-msg .input-name {
    text-transform: capitalize;
}

.contacts .container .formSpace form .write-msg textarea {
    height: 12rem;
}

.contacts .container .formSpace form .write-msg #msg {
    width: 100%;
    height: 4rem;
    margin-top: 0.5rem;
    color: #bbc3c7;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: rgb(53, 53, 117);
    letter-spacing: 2px;
}


.contacts footer {
    text-align: center;
    font-size: 1.3rem;
    color: rgb(70, 70, 130)
}

.contacts footer ion-icon {
    color: rgb(182, 76, 76);

}

.thanksPage {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.thanks {
    position: absolute;
    color: rgb(53, 53, 117);
    font-size: 4rem;
    font-weight: 600;
    animation: showContent 1.5s 1s ease-in-out 1 backwards;
    text-align: center;
}